@media screen and (min-width: 600px) {
    .service-cards,
    .service-skills,
    .stats .container,
    .portfolio-links,
    .team-cards {
        grid-template: repeat(2, auto) / repeat(2, auto);
    }
    .portfolio-images {
        grid-template: repeat(3, auto) / repeat(2, auto);
    }
}
@media screen and (min-width: 900px) {
    html {
        font-size: 16px;
    }
    nav {
        width: 50%;
    }
    .portfolio-links {
        max-width: 900px;
        grid-template: auto / repeat(4, auto);
    }
    .portfolio-images {
        grid-template: repeat(2, auto) / repeat(3, auto);
    }
    .testimonial .container {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    .testimonial-text {
        aspect-ratio: 3 / 2;
        grid-row: 1 / span 2;
        overflow-y: auto;
    }
    .testimonial-text::-webkit-scrollbar {
        width: 0;
    }
    .testimonial-img {
        grid-row: 2 / span 2;
    }
    footer .container {
        grid-template: auto / 1fr 8em 1fr;
        align-items: flex-start;
        gap: 4em;
    }
    footer .container * {
        text-align: left;
    }
    .footer-contact-link button {
        padding: 1em 5em;
        font-size: 1rem;
    }
    .footer-contact-icons {
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1200px) {
    header .container i {
        display: none;
    }
    nav {
        display: flex;
        position: static;
        width: auto;
        height: auto;
    }
    nav ul {
        flex-direction: row;
        font-size: 1.2rem;
        margin: 0;
    }
    .service-cards,
    .service-skills,
    .stats .container,
    .team-cards {
        grid-template: auto / repeat(4, auto);
    }
    .portfolio .container {
        max-width: none;
        width: 100%;
    }
    .portfolio-intro,
    .portfolio-links {
        width: 90%;
        max-width: 1200px;
    }
    .portfolio-links {
        grid-template: auto / repeat(5, auto);
    }
    .portfolio-link-img {
        display: inline;
        justify-self: center;
    }
    .portfolio-images {
        grid-template: auto / repeat(6, auto);
        gap: 0;
    }
}
